<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>{{ title }}</title>
        <style> {% include 'static/css/ssv.css' %} </style>
        <style> {% include 'static/css/bootstrap.min.css' %} </style>
        <script> {% include 'static/js/d3.v4.min.js' %} </script>
        <script> {% include 'static/js/ssv.min.js' %} </script>
        <script> {% include 'static/js/whammy.js' %} </script>
    </head>
    <body>
        {% include 'templates/ssv_partial.html' %}
    </body>
</html>