<div class="ssv-panel" id="{{ uuid }}" style="height:{{ height }}px;">
    <div class="ssv-header">
        <div class="ssv-title">
            <span id="title"></span>
        </div>
        <div class="ssv-x-series">
            <span id="x-val"></span>
            <span><i><b><span id="x-val-unit"></span></b></i></span>
        </div>
    </div>
    <div class="ssv-visual" align="center">
        <div class="svg-container" style="height:{{ height - 60 }}px;">
            {{ sim_visual }}
            <div class="popover-container">
                <div class="popover-spacer"></div>
            </div>
        </div>
    </div>
    <div align="center" class="modebar modebar--hover">
        <div class="modebar-group">
            <a class="modebar-button" id="speed-button" style="display:table">
                <span id="speed-val" style="display: table-cell;vertical-align: middle;"><b>1x</b></span>
            </a>
            <a class="modebar-button" id="play-button">
                <span id="play-icon">{% include 'static/svg/fi-play-circle.svg' %}</span>
                <span id="pause-icon" style="display:none">{% include 'static/svg/fi-pause.svg' %}</span>
            </a>
            <a class="modebar-button" id="pan-zoom-button">
                <span id="pan-zoom-disabled-icon">{% include 'static/svg/magnifying-glass-disabled.svg' %}</span>
                <span id="pan-zoom-enabled-icon" style="display:none">
                    {% include 'static/svg/magnifying-glass-enabled.svg' %}
                </span>
            </a>
            <a class="modebar-button" id="center-button">
                <span id="center-icon">{% include 'static/svg/center.svg' %}</span>
            </a>
            <a class="modebar-button" id="save-button">
                <span id="save-icon">{% include 'static/svg/photo-camera.svg' %}</span>
            </a>
            <a class="modebar-button" id="video-button">
                <span id="video-icon">{% include 'static/svg/video-camera.svg' %}</span>
            </a>
        </div>
        <div class="modebar-group">
            <div class="modebar-slider"></div>
        </div>
    </div>
    <div class="ssv-progress">
        <div style="display:table-cell; vertical-align:middle;">
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 0%;">
                    Loading
                </div>
            </div>
        </div>
    </div>
    <div id="render-container">
        <canvas id="render-space"></canvas>
        <img id="img-space">
    </div>
</div>
<script>
    var uuid = "{{ uuid }}";
    var title = "{{ title }}";
    var x_series = {{ x_series }};
    var x_series_unit = "{{ x_series_unit }}";
    var svg_overlays = {{ svg_overlays }};
    var element_data = {{ element_data }};
    var font_size = {{ font_size }};
    ssv.add_element_context(uuid, title, x_series, x_series_unit, element_data, svg_overlays, font_size);
</script>

