<div class="full-width sim-visual">
    <div class="small-12 large-12 columns sim-visual" align="center">{{ sim_visual }}</div>
</div>
<div class="full-width sim-control">
    <div class="small-10 large-10 columns full-height sim-control" style="display: table">
        <div style="display: table-cell;vertical-align: middle;">
            <div class="range-slider" data-slider>
                <span class="range-slider-handle ssv-slider" role="slider" tabindex="0"></span>
                <span class="range-slider-active-segment"></span>
                <input type="hidden">
            </div>
        </div>
    </div>
    <div class="small-2 large-2 columns full-height sim-control" align="center" style="display: table">
        <div class="ssv-control radius" style="display: table-cell; vertical-align: middle; color: white">
            <span id="x-series-val"></span>
            <span><i><b>{{ x_series_unit }}</b></i></span>
        </div>
    </div>
</div>
<script>
  x_series = {{ x_series }}
  element_data = {{ element_data }}
  color_scales_data = {{ color_scales_data }}
  element_contexts["{{ uuid }}"] = new ElementContext(x_series, element_data, color_scales_data)
</script>