<style> {% include 'static/css/ssv.css' %} </style>
<div class="ssv-panel" id="{{ uuid }}" style="height: {{ height }}px; width: 100%;">
  <div class="row" style="height:90%;width:100%;margin-left:auto;margin-right:auto;max-width: initial;">
    <div class="col-sm-12 sim-visual" align="center" style="height:100%;font-size:{{ font_size }}px">{{ sim_visual }}</div>
  </div>
  <div class="row" style="height:10%;width:100%;margin-left:auto;margin-right:auto;max-width: initial;">
    <div class="col-sm-8 full-height" style="display: table">
      <div style="display: table-cell;vertical-align: middle;">
        <div class="range-slider ssv-slider"></div>
      </div>
    </div>
    <div class="col-sm-4 full-height" align="center" style="display: table">
      <div style="display: table-cell; vertical-align: middle">
        <span id="x-series-val"></span>
        <span><i><b>{{ x_series_unit }}</b></i></span>
      </div>
    </div>
  </div>
</div>
<script>
  var uuid = "{{ uuid }}";
  var x_series = {{ x_series }};
  var element_data = {{ element_data }};
  var svg_overlays = {{ svg_overlays }};
  add_element_context(uuid, x_series, element_data, svg_overlays);
</script>

